{% extends 'main.html' %}

{% block body %}


<style>
  body {
    background-color: rgba(7, 131, 90, 0.18);
   
    
}

    .form_box{
        width: 50%;
        margin-left: 24%;
        margin-top: 50px;
    }
   
</style>

<div class="form_box">
<h3 class="room-page-title text-success">Developers</h3>
<div class="card">
    

    <div class="card-body">
      <h5 class="card-title">Saniyaj Mallik</h5>
      <p class="card-text">I am a fullstack web developer, I use Python framework Django for backend development.</p>
      <a href="https://saniyajmallikportfolio.netlify.app/" class="btn btn-primary">Visit Me</a>
    </div>
  </div>
  
  
  
  {% comment %} <div class="card my-4">
 
    <div class="card-body">
      <h5 class="card-title">Pritam Paul</h5>
      <p class="card-text">I am a frontend web developer, I use html css for frontend development.</p>
      <a href="#" class="btn btn-primary">Visit Me</a>
    </div>
  </div> {% endcomment %}


</div>






{% endblock body %}